# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. JavaScript
3. Excel VBA

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. NumPy

| Data Science Tools |
| - |
| Python |
| RStudio |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hour_to_minute = 60
hours = minutes / hour_to_minute
print(hours)

3.3333333333333335

## Author

Ngai Chi Hung